
<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
  <meta charset="utf-8">
  <meta name="msvalidate.01" content="7ED28BE11E3B0271640CB9E30D0E1710" />
  <title>Licit Guides - Exclussive Services</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{%static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{%static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" href="https://www.iconsdb.com/icons/preview/yellow/leaf-xxl.png" type="image/x-icon"/>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Licit Guides</a></h1>   
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Default</a></li>
          <li class="menu-has-children"><a href="#about">Services</a>
            <ul>
              <li><a data-toggle="modal" data-target="#exampleModal" data-whatever="coders@licitguides.xyz">Code my project</a></li>
              <li><a data-toggle="modal" data-target="#exampleModal" data-whatever="training@licitguides.xyz">Free/Paid training</a></li>
              <li><a data-toggle="modal" data-target="#exampleModal" data-whatever="affiliate@licitguides.xyz">Become an affiliate</a></li>
              <li><a data-toggle="modal" data-target="#exampleModal" data-whatever="talent@licitguides.xyz">Showcase talent</a></li>
              <li><a data-toggle="modal" data-target="#exampleModal" data-whatever="hookup@licitguides.xyz">Hook me up</a></li>
            </ul>
          </li>
         
          
          <li><a href="#contact" data-toggle="modal" data-target="#myContact" >Contact</a></li>
        </ul>
          
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="https://www.cisco.com/c/en/us/solutions/enterprise-networks/enterprise-network-security/network-security-analytics/_jcr_content/Grid/category_atl_d645/layout-category-atl/anchor_info_b98/image.img.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The Licit Agenda</h2>
                <p>Our main agenda is to provide a platform from where we can share resources satisfactorily. Where you give freely, do barter or sell.Just as you please.</p>
                <a href="#featured-services" class="btn-get-started scrollto" data-toggle="modal" data-target="#myModal" >Why Us?</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://cdn.pixabay.com/photo/2019/03/27/13/33/technology-4085029_640.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Areas of concern</h2>
                <p>We deal with: <font color="#ffff00">Engineering, Computer Science/I.T, Geomatics, Biostatistics, Economic Statistics,Agriculture.</font> More on the way.</p>
                <a href="http://licitguides.xyz/network/" class="btn-get-started scrollto">Get List</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxodsjbgiHwUadk8v7T0o4FkUSqcNzZxR9s1rXPfbUTkwOe-neEQ" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Supported Languages</h2>
                <p>We  offer suport for many languages including: <font color="#ffff00">Erlang, Python, Java/Kotlin, Ruby, R, JavaScript, C/C++, SCADA, Siemens, Dotnet etc.</font></p>
                <a href="http://licitguides.xyz/codeforme/" class="btn-get-started scrollto">Explore</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-background"><img src="https://i.ytimg.com/vi/9iO0BCNfebA/maxresdefault.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Barter program</h2>
                <p>We like to address matters concerning satisfaction. Exchange of resources could also be an option. That is why we consider barter trade.</p>
                <a href="http://licitguides.xyz/affiliate/" class="btn-get-started scrollto">Try Barter</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-background"><img src="https://cdn.pixabay.com/photo/2017/01/10/19/02/dollar-1969930_640.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Code my project</h2>
                <p>Give us your requirements and we will make them specifications and make it work</p>
                <a href="http://licitguides.xyz/codeforme/" class="btn-get-started scrollto">Hire us</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://images.yourstory.com/cs/wordpress/2018/03/coding-job.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Do it yourself</h2>
                <p>If you like DIY, we can link you to an expert to guide you from where you are stuck.</p>
                <a href="http://licitguides.xyz/guideme/" class="btn-get-started scrollto">Resources</a>
              </div>
            </div>
          </div>

          

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main" class="main-bg">

       <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container" >

        <header class="section-header">
          <h3>Services</h3>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              
               <h2 class="title"><a href="http://licitguides.xyz/codeforme/">CodeMyProject</a></h2>
            <p class="description">Hire us and we will help you build your app within the shortest time possible.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
             
              <h2 class="title"><a href="http://licitguides.xyz/trainme/">TrainMe</a></h2>
            <p class="description">Get exclusive training to improve your programming skills in our areas of concern.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              
             <h2 class="title"><a href="#" data-toggle="tooltip" title="Popover title" data-content="Popover body content is set in this attribute.">DoItYourself</a></h2>
            <p class="description">DIY may be good for your customizations. We will provide you relevant resources.</p>
          </div>
          </div>

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              
               <h2 class="title"><a href="http://licitguides.xyz/codeforme/">AffiliatesProgram</a></h2>
            <p class="description">Affiliation helps build network and consiquentially career. Attach yourself with us.</p>
          </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
             
              <h2 class="title"><a href="http://licitguides.xyz/trainme/">JoinNetwork</a></h2>
            <p class="description">Our dream is to develop a great network of coding guides. We network guides.</p>
          </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
             
              <h2 class="title"><a href="http://licitguides.xyz/trainme/">BarterProgram</a></h2>
            <p class="description">Barter trade is not an old thing. We accept resources in exchange of equivalent resources</p>
          </div>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

<!-- Why us? -->
<div class="modal fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" role="document">


    <div class="modal-content" style="background-color: black;">
      <div class="alert alert-success" role="alert">
            <strong>Why us?
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
     </div>
      <div class="modal-body">
        <font style="color: #ffff00;font-weight: 400;">
        *We have the tools<br>
        *We build fast<br>
        *We maintain our network<br>
        *We promote equity<br>
        *We ensure satisfaction</font> 
      </div>
      
    </div>
  </div>
</div>
<!-- Contacts-->
  
<div class="modal fade right" id="myContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: black;">
      <div class="alert alert-success" role="alert">
            <strong>Contact us
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
     </div>
      <div class="modal-body" >
          <font style="color: #ffff00;font-weight: 400;"> 
          Telephone: +254 739 9091 54<br>
          Email: support@licitguides.xyz<br>
          Location: Nairobi, Kenya</font>
      </div>
    </div>
  </div>
</div>

<!-- Training-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Get Quote</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
   
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2019<strong>Licit Guides</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://yegon.co.ke/">Yegon</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <!--<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{%static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'lib/easing/easing.min.js'%}"></script>
  <script src="{%static 'lib/superfish/hoverIntent.js"></script>
  <script src="{%static 'lib/superfish/superfish.min.js'%}"></script>
  <script src="{%static 'lib/wow/wow.min.js'%}"></script>
  <script src="{%static 'lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{%static 'lib/counterup/counterup.min.js'%}"></script>
  <script src="{%static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{%static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'lib/lightbox/js/lightbox.min.js'%}"></script>
  <script src="{%static 'lib/touchSwipe/jquery.touchSwipe.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{%static 'contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{%static 'js/main.js'%}"></script>

  <script type="text/javascript">
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c48c00f51410568a1080833/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
